html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#container {
  display: flex;
  height: 100%;
  width: 100%;

  #canvas_div {
    background-color: #00a1d3;
    width: 50%;
  }

  #instructions_div {
    background-color: #dc3787;
    width: 50%;
  }

}
